@using  ReReView.DAL

@model RankandrecentViewModel



@{
    ViewBag.Title = "Home Page";
}
<img src="/banner.jpg" style="max-width:100%; height:auto;">
<div class="row">
    <div class="col-md-6">
        <h2>RANKING</h2>
        @Html.Partial("~/Views/Restuarants/Ranking.cshtml", Model.Rankrestuarants)
    </div>
    <div class="col-md-6">
        <h2>RECENT REVIEW</h2>
        @Html.Partial("~/Views/Reviews/Recent.cshtml", Model.Recentreviews)
    </div>

</div>